<h1 class="page-header">View Quote</h1>
<h3>{{quote.firstName}} {{quote.lastName}}</h3>
<h3>Quote Details</h3>
<dl class="unstyled">
  <dd>Email: {{quote.email}}</dd>
  <dd>Address: {{quote.address}}</dd>
  <dd>ZIP: {{quote.zip}}</dd>
  <dd>Phone Number: {{quote.phoneNumber}}</dd>
  <dd>High Bill: {{quote.highBill}}</dd>
  <dd>Low Bill: {{quote.lowBill}}</dd>
  <dd>Utility Name: {{quote.utilityName}}</dd>
  <dd>Roof Type: {{quote.roofType}}</dd>
  <dd>Sold? {{quote.sold}}</dd>
</dl>

<h3>Comments</h3>
<div>{{quote.notes}}</div>
<h3>Attachments</h3>
<div>{{quote.attachments}}</div>

<form ng-submit="edit()" class="form-horizontal">
  <div class="form-actions">
    <button class="btn btn-primary">Edit</button>
  </div>
</form>
